@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-base text-black w-full overflow-x-hidden;
}

.disabled {
  opacity: 0.3 !important;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}