.itemHeader {
  @apply relative;
  .arrows{
    @apply flex justify-between items-center absolute top-0 animate-scaleIn animate-opacity;
    top: 45%;
    width: 90%;
    left: 5%;
    .arrow {
      @apply text-white;
    }
  }
  .image{
    @apply -mt-[4.5rem] block ml-auto mr-auto;

    .fixed_size {
      min-height: 320px;
      max-height: 320px;
    }
  }
.mobile_image {
    @apply hidden;
  }
}

@media (max-width: 950px) {
  .itemHeader {
    .desktop_image {
      @apply hidden;
    }

    .mobile_image {
      @apply block ml-auto mr-auto;
    }
  }
}
